.App {
  background-color: #282c34;
  height: 3000px;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  font-size: 30px;
  color: white;
  /* border: 1px solid white; */
}

.blog-img {
  width: 900px;
  height: 185px;
  z-index: 0;
  border: 1px solid white;
  border-radius: 25px;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin: 25px;
  height: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
}

.wraper {
  display: flex;
  height: auto;
  width: 900px;
  justify-content: center;
}

.accordion {
  width: auto;
}

.section {
  margin-bottom: 5px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 25px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; 
}

.section-list {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.section-list.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

.article {
  padding-bottom: 25px;
  border-top: 1px solid white;
}

.article-title {
  font-size: 20px;
}

.article-body {
  margin-bottom: 17px;
}

